@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wdth,wght@0,75..125,100..900;1,75..125,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    text-decoration: none;

    font-family: "Asap", sans-serif;
}
body{
    background-color: antiquewhite;    
}

a{
    text-decoration: none;
}

.nav{

    color: yellow;
    padding: 0px 100px 0px 100px;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    height: 50px;
    border-bottom: 1px solid brown;
}
.nav .link a{
    color: brown;
    border: 1px solid brown;
    padding: 10px;
    border-radius: 50px;
}

.nav  .link #login{
    color:antiquewhite ;
    border: 1px solid brown;
    background-color: brown;
}

.slider a{
    color: brown;
}
.slider{
    padding: 0px 100px 0px 100px;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.slider .left,.slider .right{
    margin-left:auto;
    margin-right:auto;
}

.content{
    gap: 10px;
    margin:25px 0px 25px 0px;
    padding: 0px 100px 0px 100px;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.content .desc{
    gap: 25px;
    text-align: justify;
    display: flex;
    flex-direction: row;
}

.item{
    margin:25px 0px 25px 0px;
    padding: 0px 100px 0px 100px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.item .desc{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
}

.item .link{
    margin-top: 15px;
}

.item .link a{
    color: brown;
    border: 1px solid brown;
    padding: 10px;
    border-radius: 50px;
}


.item .link #Buy{
    color:antiquewhite ;
    border: 1px solid brown;
    background-color: brown;
}

.content2{
    margin:25px 0px 25px 0px;
    padding: 0px 100px 0px 100px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.content2 .img{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* align-items: center; */
}
/*  */
.content3{
    margin:25px 0px 25px 0px;
    padding: 0px 100px 0px 100px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
}

.content3 .img{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* align-items: center; */
}
.content3 .img .desc{
    max-width:300px;
}

.content4{
    gap: 10px;
    margin:25px 0px 25px 0px;
    padding: 0px 100px 0px 100px;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.content4 .desc{
    gap: 25px;
    text-align: justify;
    display: flex;
    flex-direction: row;
}

.content4 img{
    max-height: 400px;
}

.footer{
    margin:25px 0px 25px 0px;
    padding: 0px 100px 0px 100px;
    text-align: center;
}